@model Frozen.Models.Product

@{
    ViewData["Title"] = "Skapa produkt";
}

<div class="card  mb-3 simple-linear shadow-lg cart-padding">
    <form method="post" asp-action="CreateProductPage">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input asp-for="Id" hidden="hidden" disabled="disabled" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Namn</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Price">Pris</label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Details">Beskrivning</label>
                <input type="text" asp-for="Details" class="form-control">
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Quantity">Antal i lager</label>
                <input type="text" asp-for="Quantity" class="form-control">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Image">Bildadress</label>
                <input type="text" asp-for="Image"class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="WeightInGrams">Vikt i gram</label>
                <input type="text" asp-for="WeightInGrams" class="form-control">
                <span asp-validation-for="WeightInGrams" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Spara</button>
    </form>
</div>